#name-heading {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#section-heading{
    font-family: "Instrument Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.about-link{
    font-family: "Cal Sans", sans-serif;
    font-weight: 500;
    font-style: bold;
}

.about-pro{
    font-family: "Meow Script", cursive;
    font-weight: 500;
    font-style: normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.6s ease forwards;
}
