#heading , #heading2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#contact {
    font-family: "Cal Sans", sans-serif;
    font-weight: 500;
    font-style: bold;
}

#footer{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.under-head{
    font-family: "Meow Script", cursive;
    font-weight: 500;
    font-style: normal;
}