#foot-para {
    font-size: 18px;
    display: inline-block;
    margin-left: 128px;
    font-family: "Baskervville SC", serif;
    font-weight: 800;
    font-style: normal;
}

.copyright {
    font-family: Inter var, ui-sans-serif, system-ui, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: .875rem;
}
