#foot-para {
    font-size: 18px;
    display: inline-block;
    margin-left: 128px;
    font-family: "Baskervville SC", serif;
    font-weight: 600;
    font-style: normal;
}

.copyright {
    font-family: "Martian Mono", monospace;;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: .875rem;
}

.footer-links {
    font-family: "Martian Mono", monospace;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
}

#Main-section,#social-section {
    font-size: 22px;
    font-weight: 400;
}