.pro-heading{
    font-family: "Meow Script", cursive;
    font-weight: 500;
    font-style: normal;
}

.pro-pax{
    font-family: "Cal Sans", sans-serif;
    font-weight: 500;
    font-style: bold;
}