#root-home-container {
  height: 1500px;
}

#nav-root {
  background: black;
  height: 60px;
  align-items: center;
}

#github-logo {
  margin-left: 870px;
}

#welcome-main {
  height:95vh;
  margin-top: 0px;
  padding-top: 10px;
  background-color: #FCA17D;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 80px;
  font-style: normal;
}

#welcome-text {
  margin: 65px 0px 0px 160px;
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#hello {
  display: inline-block;
}

#arrow-icon {
  margin: 10px 0px 0px 200px;
}