@import 'tailwindcss';
@config '../tailwind.config.js';


.links {
    display: flex;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    gap: 2rem;
}